<div class="new-option">
  <input type="checkbox" id="q<%= questionIndex %>-<%= optionIndex %>-correct" name="q<%= questionIndex %>-<%= optionIndex %>-correct"/>
  <input type="text" id="q<%= questionIndex %>-<%= optionIndex %>-text" name="q<%= questionIndex %>-<%= optionIndex %>-text"/>
  <button class="delete-option"><strong>-</strong></button>
</div>
