<div class="answer-container">
  <input
    class="answer"
    type="radio" id="q<%= questionIndex %>-<%= option.index %>"" value=" <%= option.label %>"
    name="q<%= questionIndex %>" <%= option.clickable ? null : 'disabled' %> />
  <label class="shadow-inset <%=
      option.showCorrect ?
      ( option.correct ?
        'correct' :
        option.selected?
        'incorrect' : null )
      : null
      %>" for="q<%= questionIndex %>-<%= option.index %>"><%= option.label %></label>
</div>
