<div class="answer-container">
  <input class="answer" type="radio" id="q<%= questionIndex %>-<%= option.index %>"" value="<%= option.label %>" name="q<%= questionIndex %>" <%= option.clickable ? "" : "disabled" %>/>
  <label for="q<%= questionIndex %>-<%= option.index %>" ><%= option.label %></label>
</div>