<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%- include('../partials/_head-styles.ejs'); %>
  <link rel="stylesheet" href="/styles/quiz-display.css" />
  <link rel="stylesheet" href="/styles/buttons.css" />
  <%- include('../partials/_head-scripts.ejs'); %>
  <script defer src="/scripts/app-functions.js"></script>
  <script defer src="/scripts/quiz-play-functions.js"></script>
  <script defer src="/scripts/quiz-play.js"></script>

  <title> <%= title %> - QUOKKA? quiz</title>
</head>

<body>
  <%- include('../partials/_header.ejs'); %>
  <main>
    <!-- back to home button for mobile? -->
    <article>
      <%- include('../partials/_quiz-details.ejs', {title, description}); %>
      <button class="share start-quiz">Start Quiz</button>
      <button class="share secondary">Copy Link</button>
    </article>
    <form method="POST">
      <!-- Questions inserted here by AJAX -->
    </form>
    <p id="placeholder"></p>
  </main>
</body>

</html>
