<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%- include('../partials/_head-styles.ejs'); %>
  <link rel="stylesheet" href="/styles/quiz-display.css" />
  <link rel="stylesheet" href="/styles/buttons.css" />
  <%- include('../partials/_head-scripts.ejs'); %>

  <title>QUOKKA? - <%= results.title %> Results</title>
</head>
<body>
  <%- include('../partials/_header.ejs'); %>
  <main>
    <h2 class="quiz-title"><%= results.title %></h2>
    <section>
      <p class="user-header"><%= results.fname %> <%= results.lname %>'s Results</p>
      <p class="score-header"><%= results.percent_correct %>%</p>
      <a class="share" >Copy link to results </a>
    </section>
    <%- include('../partials/_question-module.ejs', {question: {content:"Who was the first president of the U.S.?", number:1, clickable:false, showCorrect:true}}); %>
  </main>
</body>
</html>
