<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%- include('../partials/_head-styles.ejs'); %>
  <link rel="stylesheet" href="/styles/quiz-display.css" />
  <link rel="stylesheet" href="/styles/buttons.css" />
  <%- include('../partials/_head-scripts.ejs'); %>

  <title>QUOKKA? - <%= overallResults.title %> Results</title>
</head>
<body>
  <%- include('../partials/_header.ejs'); %>
  <main>
    <h2 class="quiz-title"><%= overallResults.title %></h2>
    <section>
      <p class="user-header"><%= overallResults.fname %> <%= overallResults.lname %>'s Results</p>
      <p class="score-header"><%= overallResults.percent_correct %>%</p>
      <a class="share" >Copy link to results </a>
    </section>
    <% for (const quizQuestion of quizJson) { %>
      <%=quizQuestion.question_num%>
      <%=quizQuestion.text%>
      <br>
      <% for(const option of quizQuestion.answer_options) { %>
        <%=option.answer_text%>
        <br>
      <% } %>
      <br>
    <% } %>
  </main>
</body>
</html>
