<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%- include('../partials/_head-styles.ejs'); %>
  <link rel="stylesheet" href="/styles/quiz-display.css" />
  <link rel="stylesheet" href="/styles/buttons.css" />
  <%- include('../partials/_head-scripts.ejs'); %>

  <title>QUOKKA? - User</title>
</head>
<body>
  <%- include('../partials/_header.ejs'); %>
  <main>
    <h2>Hello, Paulson!</h2>
    <!-- Will add swapping table view later in jquery -->
    <a>Quiz</a>
    <a>Results</a>
    <%- include('../partials/_user-quiz.ejs'); %>
    <%- include('../partials/_user-results.ejs'); %>
  </main>
</body>
</html>