<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%- include('../partials/_head-styles.ejs'); %>
  <link rel="stylesheet" href="/styles/user.css" />
  <link rel="stylesheet" href="/styles/buttons.css" />

  <%- include('../partials/_head-scripts.ejs'); %>
  <script defer src="/scripts/app-functions.js"></script>
  <script defer src="/scripts/user.js"></script>

  <title>QUOKKA? - <%= name.fname %> <%= name.lname %></title>
</head>
<body>
  <%- include('../partials/_header.ejs'); %>
  <main>
    <h2>Hello, <%= name.fname %>!</h2>
    <nav id="profile">
      <button class="profile-tab active" id="quiz">Your Quizzes</button>
      <button class="profile-tab" id="results">Your Results</button>
    </nav>
    <section id="listOfQuizzesCreated">
      <%- include('../partials/_user-quiz.ejs'); %>
    </section>
    <section id="listOfResults" class="initialHide">
      <%- include('../partials/_user-results.ejs'); %>
    </section>
    <a class="new-quiz">Make New Quiz</a>
  </main>
</body>
</html>
