<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%- include('../partials/_head-styles.ejs'); %>
  <link rel="stylesheet" href="/styles/user.css" />
  <link rel="stylesheet" href="/styles/buttons.css" />

  <%- include('../partials/_head-scripts.ejs'); %>

  <title>QUOKKA? - User</title>
</head>
<body>
  <%- include('../partials/_header.ejs'); %>
  <main>
    <h2>Hello, <%= name.fname %>!</h2>
    <!-- Will add swapping table view later in jquery -->

    <nav id="profile">
      <button class="profile-tab active" id="quiz">Your quizzes</button>
      <button class="profile-tab" id="results">Your results</button>
    </nav>
    <%- include('../partials/_user-quiz.ejs'); %>
    <%- include('../partials/_user-results.ejs'); %>
    <!-- <a class="new-quiz">Make New Quiz</a> -->
  </main>
</body>
</html>
